h1 {
    position: fixed;
    padding-left: 250px;
  }
  
.padding
{
position: fixed;
top: -1px;
width:500px;
height: 400px;
padding-top: 150px;
}
.container{
    padding-left: 800px;
    padding-top: 125px;
}
.button1{
  background-color: skyblue;
  padding: 10px;
  background-clip: padding-box;
  height: 45px;
  width: 115px;
  border-radius: 10px;
  border-color:skyblue;
  margin-bottom: 50px;
  margin-top: 10px;
  }
  .button2{
    background-color:skyblue;
    padding: 10px;
    background-clip: padding-box;
    height: 45px;
    width: 115px;
    border-radius: 10px;
    border-color: skyblue;
    }
    .Details{
        padding-top: 100px;
        padding-left: 800px;
    }
    h2 {
      position: fixed;
      padding-left: 950px;
    }
    input[type=text], select {
      width: 100%;
      padding: 5px 15px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=submit] {
      width: 100px;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #45a049;
    }
.padding1
{
position: fixed;
top: -1px;
width:700px;
height: 600px;
padding-bottom: 250px;
}
